body {
  min-width: 1000px;
}

.heading1 {
  text-align: center;
  font-style: italic;
  font-size: 3em;
  font-weight: bold;
}

#likes {
  text-align: left;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}

#dislikes {
  float: right;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  color:green;
  opacity: 1;
}

button {
  padding:0 20px;
  margin-top: 10px;
  line-height: 30px;
  font-weight: bold;
  background: lightgreen;
  border: none;
  border-radius: 10px;
  opacity: 0.75;
}

#hc {
  color: black;
}

#buttonShow {
  visibility: hidden;
}

#container {
  position: relative;
}

#previous-button {
  position: absolute;
  bottom: 100px;
  left: 0px;
}

#next-button {
  position: absolute;
  bottom: 100px;
  right: 0px;
}

*game-pics {
  position: absolute;
  bottom: 50px;
  right:150px;
}

#introduction {
  height: 75px;
  position: initial;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.1em;
}