.heading1 {
  text-align: center;
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
}

.spacing {
  visibility: hidden;
}


#likes {
  text-align: left;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
}

#dislikes {
  float: right;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  color:green;
  opacity: 1;
}

button {
  padding:0 20px;
  margin-top: 10px;
  line-height: 30px;
  font-weight: bold;
  background: lightgreen;
  border: none;
  border-radius: 10px;
  opacity: 0.75;
}

#hc {
  color: black;
}

.main-container {
  float: left;
  position: relative;
  left: 50%;
}
    
.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

#buttonShow {
  visibility: hidden;
}

#container {
  height: 200px;
  width: 575px;
  position: relative;
}

#previous-button {
  position: absolute;
  bottom: 100px;
  left: 0px;
}

#next-button {
  position: absolute;
  bottom: 100px;
  right: 0px;
}

*game-pics {
  position: absolute;
  bottom: 50px;
  right:150px;
}
